*{
    font-family: 'Courier Sans', Courier, monospace;
    font-weight: 600;
}

body{
    background-color: #457b9d;
    margin-bottom: 2em;
}

h1{
    font-weight: 900;
    font-size: 4.8em;
}

.container{
    background-color: #a8dadc;
    border-radius: 0.5em;
    
}

.description{
    background-color: #a8dadc;
}

.descsex p{
    font-weight: 900;
}

.circle{
    display: inline-block;
    min-width: 12px;
    min-height: 12px;
    background-color: red;
    border-radius: 50%;
}

.btn{
    background-color: #fefae0;
    font-weight: 700;
}

.btn:hover{
    opacity: 0.8;
    color: #ddd;
}

.content{
    min-height: 300px;
    background-color: #f4f4f4;
}
.input-area{
    position: relative;
}
input{
    width: calc(100%-1px);
}

.input-label{
    text-align: center;
}
input::placeholder,input::-webkit-input-placeholder{
    font-style: italic;
}

footer{
    background-color: #f1faee;
    text-align: center;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.red{
    background-color: red;
}

.green{
    background-color: rgb(0, 243, 0);
}

.redLink{
    color: #e63946;
}

.sbmt{
    color: #fff;
    background-color: #e63946;
}

.qry{
    background-color: #1d3557;
    color: #fff;
}

.web{
    background-color: #6930c3;
    color: #fff;
}